.menuProduct {
  display: flex;
  flex-direction: row;
  padding: 20px 0 20px 20px;
  overflow: scroll;
}
@media (min-width: 800px) {
  .menuProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0 20px 20px;
    overflow: unset;
  }
}

@media (min-width:800px) {
  .secaoProd {
    text-align: start;
  }
}